.footerBg {
  height: 102px;
  background: #1c1c1c;
}

.footerInfo * {
  color: #515151;
  display: inline-block;
}

.footerInfo p {
  height: 45px;
  margin-top: 10px;
  line-height: 45px;
  background: url(../images/footerLine.gif) bottom repeat-x;
}

.footerInfo p img {
  float: left;
  margin-top: 11px;
  margin-right: 5px;
}

.logoImg {
  margin-top: 20px;
}
